{% load static %}



<section class="alcalde-section my-5">
    <div class="container">
        <div class="row align-items-center">
            <!-- Texto e información -->
            <div class="col-md-8">
                <div class="mb-3"  style='color:var(--color-iconos)'>
                    <span class="section-subtitle">Por amor a {{municipio.nombre_municipio}}</span>
                </div>
                <h2 class="display-4 fw-bold">Alcalde de {{municipio.nombre_municipio}}  Tlaxcala</h2>
                <p class="lead text-muted">
                    <i class="fas fa-quote-left me-2"></i>{{municipio.nombre_municipio}}, Por un Mejor Futuro.<i class="fas fa-quote-right ms-2"></i></p> 
                    <div class="info-box mt-4 p-4 border rounded-3 shadow-sm position-relative">
                        <h5 class="fw-bold">{{municipio.nombre_municipio}}, tierra brava y ferrocarrilera.</h5>
                        <ul class="list-unstyled mt-3">
                            <li><i class="fas fa-check-circle me-2" style='color:var(--color-iconos)'></i>Es una ciudad dinámica y con orgullo de su legado histórico.</li>
                            <li><i class="fas fa-check-circle me-2" style='color:var(--color-iconos)'></i>Reconocida por su destacada actividad ferroviaria y economía basada en el comercio, transporte, industria y servicios.</li>
                            <li><i class="fas fa-check-circle me-2" style='color:var(--color-iconos)'></i>Conocida como “La ciudad del Ferrocarril” del Estado de Tlaxcala.</li>
                            <li><i class="fas fa-check-circle me-2" style='color:var(--color-iconos)'></i>Símbolo emblemático de orgullo local.</li>
                        </ul>
                    
                    </div>
            </div>
            
            
            <!-- Imagen del alcalde y logo -->
            <div class="col-md-4 text-center position-relative">
                <div class="image-wrapper">
                    <br>
                    {% with municipio.gabinete.first as primer_miembro %}
                    {% if primer_miembro %}
                        {% if primer_miembro.imagen %}
                            <img src="{{ primer_miembro.imagen.url }}" alt="{{ primer_miembro.nombre }}" class="img-fluid rounded-circle shadow-lg" style="width: 270px; height: 270px; border: 5px solid rgb(var(--color-primario-rgb));">
                        {% elif municipio.logotipo_claro %}
                            <img src="{{ municipio.logotipo_claro.url }}" alt="Logotipo del municipio" class="img-fluid rounded-circle shadow-lg" style="width: 270px; height: 270px; border: 5px solid rgb(var(--color-primario-rgb));">
                        {% else %}
                            <img src="{{ logotipo.url }}" alt="Logotipo por defecto" class="img-fluid rounded-circle shadow-lg" style="width: 270px; height: 270px; border: 5px solid rgb(var(--color-primario-rgb));">
                        {% endif %}
                        <div class="name-tag position-absolute text-center w-100" style="bottom: -22px;">
                            <h6 class="bg-light py-2 px-3 d-inline-block rounded-pill shadow-sm">
                                {{ primer_miembro.nombre }}
                            </h6>
                        </div>
                    {% else %}
                        <p>No hay miembros del gabinete registrados.</p>
                    {% endif %}
                {% endwith %}
                
                </div>
            </div>
            
        </div>
    </div>
</section>
