{% load static %}


<section class="social-section">
    <div class="container">
        <h2 class="news-title" style='text-align: left'>Síguenos en Nuestras Redes <span>| ¡Mantente informado!</span></h2>
        <br>
        <div class="social-background">
            <img src="static/img/emoji.png" alt="Redes sociales decorativas" class="social-bg-image floating-emojis">
        </div>

        <div class="social-content">
            <div class="social-posts">
                {% for red in municipio.redes_sociales.all %}
                    {% if red.social_type == 'facebook' %}
                    
                        <div class="social-box">
                            <div class="fb-page" 
                                data-href="{{ red.social_url }}"
                                data-tabs="timeline"
                                data-width="350"
                                data-height="600"
                                data-small-header="false"
                                data-adapt-container-width="true"
                                data-hide-cover="false"
                                data-show-facepile="true">
                            </div>
                        </div>
                    {% endif %}
                {% empty %}
                    <p>No hay redes sociales de Facebook disponibles.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
