{% load static %}
<div class="news-section">
    <div class="container">
        <h2 class="news-title">Últimas noticias 
            <span>| ¡Entérate de las últimas noticias de 
                
                {% if municipio.nombre_municipio %}
                {{municipio.nombre_municipio}}

                {% else %}
                "Nombre de tu Municipio"
                {% endif %}
                
                
                !</span>
        </h2>

        <div class="row g-4">
            {% if ultimas_noticias %}
                {% for noticia in ultimas_noticias %}
                    <div class="col-md-4">
                        <div class="news-card">
                            <div class="news-image">
                                <!-- Si la noticia tiene imagen, la muestra; en caso contrario una imagen por defecto -->
                                {% if noticia.imagen %}
                                    <img src="{{ noticia.imagen.url }}" alt="{{ noticia.titulo }}" class="img-fluid">
                                {% else %}
                                    <img src="{% static 'images/placeholder.jpg' %}" alt="Imagen no disponible" class="img-fluid">
                                {% endif %}
                            </div>
                            <div class="news-content">
                                <p class="news-date">
                                    <i class="fas fa-calendar-alt"></i>
                                    Publicado el {{ noticia.fecha|date:"d/m/Y" }}
                                </p>
                                <h3 class="news-heading">
                                    {{ noticia.titulo }}
                                </h3>
                                <a href="{% url "detalle_noticia" noticia.id%}" class="news-link">
                                    <i class="fas fa-arrow-right"></i> Más información
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <!-- Si no hay noticias, muestra un mensaje o tarjeta de 'no hay noticias' -->
                <div class="col-12">
                    <div class="alert alert-info text-center" role="alert">
                        <strong>No hay noticias disponibles por el momento.</strong>
                    </div>
                </div>
            {% endif %}
        </div>

        <!-- Botón -->
        <div class="text-center mt-4">
            <a href="{% url 'homeNoticias' %}" class="btn-news">Continuar leyendo noticias</a>
        </div>
    </div>
</div>
