[Unit]
Description=Gunicorn service for muni Django application
After=network.target postgresql.service

[Service]
Type=notify
User=ubuntu
Group=ubuntu
SupplementaryGroups=www-data
WorkingDirectory=/srv/apps/muni/muni
EnvironmentFile=/srv/apps/muni/.env
RuntimeDirectory=muni
RuntimeDirectoryMode=0775
ExecStart=/srv/apps/muni/.venv/bin/gunicorn --workers 3 --bind unix:/run/muni/gunicorn.sock muni.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
